<h2><%= @pokemon.name %></h2>
<ul>
  <li>Species: <%= @pokemon.species %></li>
  <li>National pokedex number: <%= @pokemon.ndex %></li>
  <li>Height: <%= @pokemon.height %></li>
  <li>Weight: <%= @pokemon.weight %></li>
  <li><%= link_to(@pokemon.name, @pokemon.bulbapedia_link) %></li>
  <li><%= image_tag(@pokemon.bulbapedia_image) %></li>
</ul>
